<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="/dashboard" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../../../assets/img/logomini.jpg">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="/dashboard" class="simple-text logo-normal">
        Ethio Gem Exchange
        <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="/dashboard">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="/companyinfo">
            <i class="nc-icon nc-badge"></i>
            <p>Company Info</p>
          </a>
        </li>
        <li>
          <a href="/categorylist">
            <i class="nc-icon nc-box"></i>
            <p>Category List</p>
          </a>
        </li>
        <li>
          <a href="/subcategorylist">
            <i class="nc-icon nc-box-2"></i>
            <p>Sub Category List</p>
          </a>
        </li>
     
       
        <li>
          <a href="/dealerlist">
            <i class="nc-icon nc-single-02"></i>
            <p>Dealer List</p>
          </a>
        </li>
        <li>
          <a href="/productlist">
            <i class="nc-icon nc-tile-56"></i>
            <p>Product List</p>
          </a>
        </li>
        <li>
          <a href="/searchtoaddproductwithcategory">
            <i class="nc-icon nc-diamond"></i>
            <p>Add Product</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="/incomenotifications">
            <i class="nc-icon nc-bell-55"></i>
            <p>Notifications</p>
          </a>
        </li>
      </ul>
    </div>
  </div>